<div class="container pt-5 pb-5">
	<div class="row justify-content-center">
		<div class="col-6">
			<!-- Content -->
			<div class="card p-3">
			  <h1 class="h2 mb-4">{{appTitle}}</h1>
        <div *ngIf="!loading">
          <app-rate-title ></app-rate-title>
        <!-- // app-rate-title -->
        <app-form-conver-rate></app-form-conver-rate>
          <!-- // app-form-conver-rate -->
        </div>

        <div *ngIf="loading" class="loading">

          <div class="lds-hourglass"></div>

          <div class="row" >
            <div class="col">
              <div class="error-message" >{{ratesService.errorMessage}}</div>
            </div>
          </div>
        </div>
			</div>
			<!-- // Content -->
		</div>
		<!-- // col-6 -->
	</div>
	<!-- // row -->
</div>
<!-- // container -->
